<div class="box wide">
  <div class="legend">
    Requested Hats
  </div>

  <% if @hat_requests.count == 0 %>
    No hat requests.
  <% else %>
    <% @hat_requests.each_with_index do |hr,x| %>
      <% if x > 0 %>
        <hr>
      <% end %>

      <%= form_tag("/hats/approve_request", method: :post) do %>
        <p>
        <div class="boxline">
          <label class="required">User:</label>
          <a href="/u/<%= hr['username'] %>"><%= hr['username'] %></a>
        </div>
        <div class="boxline">
          <label class="required" for="reason">Comment:</label>
          <textarea rows="4" name="reason" id="reason"></textarea>
        </div>

        <input type="hidden" value="<%= hr['id'] %>" name="id">
        <input type="hidden" value="<%= hr['approve'] %>" name="approve">

        <p style="clear: both;">
        <%= submit_tag "Approve Hat Request" %>
        </p>
      <% end %>
      <p>
      or
      </p>
      <%= form_tag("/hats/reject_request", method: :post) do %>
        <div class="boxline">
          <label class="required" for="reason">Reason:</label>
          <textarea rows="4" name="reason" id="reason"></textarea>
        </div>
        <input type="hidden" value="<%= hr['id'] %>" name="id">
        <input type="hidden" value="<%= hr['reject'] %>" name="reject">
        <p>
        <%= submit_tag "Reject Hat Request" %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>
